@model SchedulingPatients.MVC.Models.Employee

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastro</h1>

<h4>Profissionais</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HireDate" class="control-label"></label>
                <input asp-for="HireDate" class="form-control" />
                <span asp-validation-for="HireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Register" class="control-label"></label>
                <input asp-for="Register" class="form-control" />
                <span asp-validation-for="Register" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                List<SchedulingPatients.MVC.Models.PatientViewModel.AssignedServiceData> services = ViewBag.Services;

                                foreach (var service in services)
                                {
                                    if (cnt++ % 4 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox" class="MyCheckbox"
                                               name="selectedServices"
                                               value="@service.ServiceID"
                                               @(Html.Raw(service.Assigned ? "checked=\"checked\"" : "")) />
                                        @service.ServiceID @:  @service.Title
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary btn-sm" />
                <a asp-action="Index" class="btn btn-success btn-sm">Voltar</a>
            </div>
            </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
