@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Agendamento de Pacientes</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bem-Vindo à Agenda Eletronica</h2>
        <p>
            Scheduling Patients é um exemplo de aplicativo que
            facilita o seu acesso às consultas com médicos e enfermermeiros
            na sua unidade de saúde.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Agende sem sair de Casa</h2>
        <p>Voce pode agendar em poucos cliques sua consulta em sua unidade de saúde.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Veja esse passo-a-passo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Baixe</h2>
        <p>Voce [ode baixar esse aplicativo em seu celular.</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">aqui &raquo;</a></p>
    </div>
</div>
